<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :staffid %><br>
    <%= f.text_field :staffid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :laddress %><br>
    <%= f.text_area :laddress %>
  </div>
  <div class="field">
    <%= f.label :lphone %><br>
    <%= f.text_field :lphone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :pphone %><br>
    <%= f.text_field :pphone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :doj %><br>
    <%= f.date_select :doj %>
  </div>
  <div class="field">
    <%= f.label :bid %><br>
    <%= f.text_field :bid %>
  </div>
  <div class="field">
    <%= f.label :designation %><br>
    <%= f.number_field :designation %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br>
    <%= f.text_area :qualification %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :nrpjc %><br>
    <%= f.text_area :nrpjc %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :profile %><br>
    <%= f.text_field :profile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
